@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Poppins';
}
body {
    background-color: hsl(229, 6%, 66%);
}
.attribution {
    font-size: 11px; text-align: center;
    color: rgb(255, 0, 0);
}
.attribution a {
    color: hsl(219, 74%, 42%);
}

.bodyContainer {
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.158);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: .5%;
    padding: 2%;
    height: 94vh;
    background-color: white;
}
.bodyContainer .headerContainer p {
    font-size: 15px;
    color: hsla(234, 12%, 34%, 0.548);
    margin-top: -4%;
    text-align: center;
}
.bodyContainer .headerContainer h1 b {
    display: block;
    text-align: center;
    margin-bottom: 90px;
    color:hsl(234, 12%, 34%);
}
.bodyContainer .headerContainer h1 strong {
    display: block;
    margin-bottom: -25px;
    text-align: center;
    color: hsl(234, 12%, 34%);
}

.divContainers {
    display: flex;
}

.containerSpvsr p {
    font-size: 13px;
}
.containerTeamBuild p {
    font-size: 13px;
}
.containerKarma p {
    font-size: 13px;
}
.containerCalc p {
    font-size: 13px;
}
.containerSpvsr {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.158);
    width: 21.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .5%;
    padding-bottom: 2%;
    border-top: 4px solid hsl(180, 62%, 55%);
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    position: relative;
    left: 230px;
    top: 170px;
}
.containerTeamBuild {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.158);
    width: 21.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .5%;
    padding-bottom: 2%;
    border-top: 4px solid hsl(0, 78%, 62%);
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    position: relative;
    left: 210px;
}
.containerKarma {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.158);
    width: 21.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .5%;
    padding-bottom: 2%;
    border-top: 4px solid hsl(34, 97%, 64%);
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 250px;
    top: 315px;
    right: 200px;
}
.containerCalc {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.158);
    width: 21.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .5%;
    padding-bottom: 2%;
    border-top: 4px solid hsl(212, 86%, 64%);
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    position: relative;
    right: 222px;
    top: 170px;
}

.containerSpvsr img {
    float: right;
}
.containerTeamBuild img {
    float: right;
}
.containerKarma img {
    float: right;
}
.containerCalc img {
    float: right;
}

@media screen and (max-width: 1440px) {
    .containerSpvsr { position: relative; left: 173px; }
    .containerTeamBuild { left: 155px; top: 10px; }
    .containerKarma { left: -150px; }
    .containerCalc { left: -168px; }
}
@media screen and (max-width: 375px) {
    /* html, body { overflow: hidden; } */
    .bodyContainer { display: block; max-width: 100%; margin: 0; height: 1500px; overflow: hidden; }
    .divContainers { float: left; }
    .containerSpvsr { display: block; float: left; width: 328px; top: 50px; left: 0px; }
    .containerTeamBuild { display: block; float: left; width: 328px; top: 285px; left: -327px; }
    .containerKarma { display: block; float: left; width: 328px; top: 575px; left: -655px }
    .containerCalc { display: block; float: left; width: 328px; top: 850px; left: -985px }
    .bodyContainer .headerContainer h1 strong { font-size: 25px; padding-top: 15%; }
    .bodyContainer .headerContainer h1 b { font-size: 25px; }
    .bodyContainer .headerContainer p { margin-top: -75px; font-size: 18px; font-weight: 200; opacity: 75%; }
}